<!DOCTYPE html>
<html>
<head>
  <title>Inventory alert</title>
</head>
<body>
  <h1>Low Stock Alert</h1>
  <p>This is a notification to inform you that the following items are running low in stock in <%= @store.name %> :</p>
  <ul>
    <li><%= @shoe.name %> - Current Stock: <%= @quantity %></li>
  </ul>
  <p>Please consider restocking these items at your earliest convenience to ensure continuous availability.</p>
  <p>Thank you for your attention to this matter.</p>
</body>
</html>
