<div class="hero bg-gray-200 p-8">
  <h1 class="text-center text-3xl font-bold text-gray-700">Stores Management</h1>
</div>
<div data-controller="store" class="max-w-4xl mx-auto my-8 p-4 bg-gray-100 shadow-lg rounded-lg">
  <ul class="list-none space-y-2">
    <% @stores.each do |store| %>
      <li class="flex justify-between items-center p-4 border-b border-gray-200 hover:bg-blue-200 hover:border-blue-400">
        <div>
          <span class="text-gray-500 text-xl">
            <%= link_to store.name, store_shoes_path(store.id), class: "text-blue-600 hover:text-blue-800 font-semibold" %>
          </span>
          <div class="py-4 whitespace-nowrap text-sm text-gray-500">
            <div class="inline-flex items-center px-3 py-1 rounded-full text-lg font-semibold bg-blue-100 text-blue-800">
              Shoes count:
              <%= turbo_frame_tag "store_#{store.id}_count", data: {
                store_counter_url: store_counter_path(store)
              } do %>
                <%= render partial: "stores/counter", locals: { store: store } %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
