
<div class="hero bg-gray-200 p-8 flex justify-between items-center">
  <h1 class="text-3xl font-bold text-gray-700">
    <%= @store.name %> - Shoes Management
  </h1>
  <a href="/" class="text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out">Home</a>
</div>
<div data-controller="realtime" data-id="<%= @store.id %>" data-store="<%= @store.name %>" data-stores-shoe-url="<%= store_shoes_path(@store) %>"
  class="max-w-4xl mx-auto my-8 p-4 bg-gray-100 shadow-lg rounded-lg">
  <ul class="list-none space-y-2">
    <% @shoes.each do |shoe| %>
      <li class="flex justify-between items-center p-4 border-b border-gray-200 hover:bg-blue-200 hover:border-blue-400">
        <div>
          <span class="text-gray-500 text-xl">
            <%= link_to shoe.name,
                stat_path(shoe.id),
                class: "text-blue-600 hover:text-blue-800 font-semibold" %>
          </span>
          <div class="py-4 whitespace-nowrap text-sm text-gray-500">
            <div class="inline-flex items-center px-3 py-1 rounded-full text-lg font-semibold bg-blue-100 text-blue-800">
              Shoes count:
              <%= turbo_frame_tag "shoe_#{shoe.name.downcase}" do %>
                <%= shoe.inventory_by_store(@store) %>
              <% end %>
            </div>
          </div>
        </div>
        <%= turbo_frame_tag "shoe_#{shoe.name.downcase}_threshold", class: "#{shoe.is_below_threshold?(@store) && !shoe.is_below_restock_threshold?(@store) ? 'block' : 'hidden'}" do %>
          <div class="animate-pulse">
            <?xml version="1.0" encoding="utf-8"?>
            <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z" fill="#ffae00"/>
            <path d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z" fill="#ffae00"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="#ffae00"/>
            </svg>
          </div>
        <% end %>
        <%= turbo_frame_tag "shoe_#{shoe.name.downcase}_restock_threshold", class: "#{shoe.is_below_restock_threshold?(@store) ? 'block' : 'hidden'}" do %>
          <div>
            <?xml version="1.0" encoding="utf-8"?>
            <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z" fill="#fe0000"/>
            <path d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z" fill="#fe0000"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z" fill="#fe0000"/>
            </svg>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
