@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@keyframes threshold {
  0%, 50%, 100% { background-color: initial; }
  17%, 83% { background-color: #ffd700; opacity: 0.2;}
}

@keyframes restock {
  0%, 100% { background-color: initial; }
  50% { background-color: #ffdddd; }
}

.blink-threshold {
  animation: threshold 1s ease-out;
}

.blink-restock {
  animation: restock 2s ease-out;
}
